<!--
    THIS PAGE SHOULD DISPLAY IF USER INPUT TO SEARCHBOX includes 'open.spotify.com/track/'
    THIS PAGE DISPLAYS INFORMATION OF ONE SONG OBJECT WITH DOWNLOAD OPTIONS
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Converter</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9079424754244668"
         crossorigin="anonymous"></script>
    </head>
    <body>
        <h1><a href="/" style="text-decoration: none;color: #0d6efd;">Spotify Converter</a></h1>
        <div class="searchBarContainer" style="margin-bottom: 40px;">
            <form class="searchBar" id="search_form" method="post">
                <input id="search_input" type="text" placeholder="Search term or Spotify url..." name="search" required>
                <button id="search_button"type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div id="display_song" style="margin: auto;justify-content: center;max-width: 320px;">
            <img src="{{ songObj.album_cover_url }}" width="320" height="320">
            <p style="word-wrap: break-word;">{{ songObj.song_name }}</p>
            <p id="artists"></p>
            <p id="duration_display"></p>
            <form id="download_song_form" method="post">
                <input id="download_button" style="width:100px;height:20px;font-size: 12px;"name="download_button" type="submit" value="Download">
            </form>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var songObject = {{ songObj|tojson }}
        var duration = "{{ songObj.duration }}"; // in seconds
        var minutes = Math.floor(duration / 60);
        var seconds = Math.round(duration - minutes * 60);
        // add a 0 before digit if seconds < 10 for nicer display
        if (seconds < 10) {
            seconds.toString();
            seconds = `0${seconds}`;
        }
        var duration_display = `${minutes}:${seconds}`;
        document.getElementById("duration_display").innerHTML = duration_display;
     
        document.getElementById('artists').innerHTML = String(songObject.list_of_artist_names).replace(',',', ')

        function downloadToDownloading() {
            document.getElementById('download_button').value = "Downloading...";
        }
            
        </script>
    </body>
</html>