<!--
    THIS PAGE SHOULD DISPLAY IF USER INPUT TO SEARCHBOX includes 'open.spotify.com/playlist/'
    THIS WILL DISPLAY ALL INFORMATION ABOUT SONGS IN THE SPOTIFY PLAYLIST
    DOWNLOAD BUTTON WILL DOWNLOAD ENTIRE PLAYLIST
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Converter</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <h1><a href="/" style="text-decoration: none;color: #0d6efd;">Spotify Converter</a></h1>
        <div class="searchBarContainer" style="margin-bottom: 40px;">
            <form class="searchBar" id="search_form" method="post">
                <input id="search_input" type="text" placeholder="Search term or Spotify url..." name="search" required>
                <button id="search_button"type="submit"><i class="fa fa-search"></i></button>
            </form>
            Convert playlist currently not available
        </div>

    </body>
</html>