<!DOCTYPE html>
<html> 
    <head>
        <title>Spotify Download</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 onclick="window.location.reload();">Spotify Downloader</h1>
        <div class="searchBarContainer">
            <form class="searchBar" id="search_form">
                <input id="search_input" type="text" placeholder="Search.." name="search" required>
                <button id="search_button"type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <h2>How To Download Your Spotify Playlist</h2>
        <div class="stepContainer">
            <div class="step1">
                <i class='bx bxs-copy' ></i>
                <p>Copy your Spotify playlist URL</p>
            </div>
            <div class="step2">
                <i class='bx bx-laptop'></i>
                <p>Paste your URL in the search box
                    and click the "search" icon
                </p>
            </div>
            <div class="step3">
                <i class='bx bxs-download' ></i>
                <p>Click "Download" to begin downloading</p>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var search_input = document.getElementById('search_input')
            var search_button = document.getElementById('search_button')

            $("#search_form").on("submit", (e) => {
                if (search_input) {
                    alert("Before Ajax called")
                    $.ajax({
                        dataType: 'json',
                        type: 'POST',
                        url:"{{url_for('main')}}",
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({
                        'spotify_link': search_input.value
                        }),
                    })
                }
                e.preventDefault();
            })
        </script>
    </body> 
</html>
