<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Download</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 onclick="window.location.reload();">Spotify Downloader</h1>
        <div class="searchBarContainer">
            <form class="searchBar" id="search_form" method="post">
                <input id="search_input" type="text" placeholder="Search.." name="search" required>
                <button id="search_button"type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div id="display_column">

        </div>
    </body>
    <script>
        let display_column = document.getElementById('display_column')

        function convert_duration(duration) {
            /*
            Duration is in seconds: float
            Takes float: duration and returns duration  of type string: ie. (200.0)=>{}=>3:20
            */
            var minutes = Math.floor(duration / 60)
            var seconds = Math.round(duration - minutes * 60)
            
            // for nicer display
            if (seconds < 10) {
                seconds.toString();
                seconds = `0${seconds}`
            }
            return `${minutes}:${seconds}`
        }
        // 
        function create_song_display(song_object, song_name) {
            let p = document.createElement('p')
            let duration_display = document.createElement('p')
            let image_obj = document.createElement('img')
            let display_elem = document.createElement('div')

            p.innerHTML = song_name
            duration_display.innerHTML = convert_duration(song_object.duration)

            display_elem.className = 'song_display'

            image_obj.src = song_object.album_cover_url
            image_obj.style.height = '300px'
            image_obj.style.width = '300px'

            display_elem.append(image_obj)
            display_elem.append(p)
            display_elem.append(duration_display)

            display_column.append(display_elem)
        }
        var list_of_songObjects = {{ results_of_search_query|tojson }}
        var inner_songObjects = list_of_songObjects[Object.keys(list_of_songObjects)[0]]
        let array_of_song_names = Object.keys(list_of_songObjects)

        console.log(array_of_song_names.length)
    
        for (i=0; i < array_of_song_names.length; i++) {
            create_song_display(list_of_songObjects[Object.keys(list_of_songObjects)[i]], array_of_song_names[i])
        }
    </script>
</html>